In [2]:
import os
from load import get_csv, get_chronic_data
from process import process_aw_fb_data, process_chronic_data, process_nutri_data

In [3]:
url = "https://data.cdc.gov/api/views/hksd-2xuw/rows.csv?accessType=DOWNLOAD"
df = get_chronic_data(url)

---Downloading https://data.cdc.gov/api/views/hksd-2xuw/rows.csv?accessType=DOWNLOAD ---
loading into DataFrame...
Data loaded successfully

In [4]:
chronic_age_df, chronic_race_df = process_chronic_data(df)

Cleaning chronic_data...
Creating chronic_age_df...
Creating chronic_race_df...
Data successfully cleaned and split.

In [5]:
chronic_age_df

        YearStart  ...  age_bin
16           2020  ...      65+
70           2019  ...    18-44
77           2019  ...    45-64
78           2019  ...    18-44
79           2019  ...    18-44
...           ...  ...      ...
309164       2022  ...      65+
309167       2022  ...      65+
309190       2022  ...    18-44
309205       2022  ...    18-44
309209       2022  ...      65+

[29212 rows x 5 columns]

In [6]:
aw_fb_df_raw = get_csv('../data/aw_fb_data.csv')
aw_fb_df_raw

---Loading ../data/aw_fb_data.csv into DataFrame ---
Data loaded successfully

      Unnamed: 0    X1  age  ...  steps_times_distance       device        activity
0              1     1   20  ...              0.089692  apple watch           Lying
1              2     2   20  ...              0.102088  apple watch           Lying
2              3     3   20  ...              0.115287  apple watch           Lying
3              4     4   20  ...              0.129286  apple watch           Lying
4              5     5   20  ...              0.144088  apple watch           Lying
...          ...   ...  ...  ...                   ...          ...             ...
6259        6260  3666   46  ...              1.000000       fitbit  Running 7 METs
6260        6261  3667   46  ...              1.000000       fitbit  Running 7 METs
6261        6262  3668   46  ...              1.000000       fitbit  Running 7 METs
6262        6263  3669   46  ...              1.000000       fitbit  Running 7 METs
6263        6264  3670   46  ...              1.000000       fitbit  Running 7 METs

[6264 rows x 20 columns]

In [7]:
aw_fb_df = process_aw_fb_data(aw_fb_df_raw)
aw_fb_df

Cleaning aw_fb_data...
Data successfully cleaned.

           device        activity  ... intensity_karvonen  target_heart_rate
0     Apple Watch           Lying  ...           0.138520          61.705474
1     Apple Watch           Lying  ...           0.137967          61.683932
2     Apple Watch           Lying  ...           0.138587          61.708112
3     Apple Watch           Lying  ...           0.139208          61.732401
4     Apple Watch           Lying  ...           0.139828          61.756799
...           ...             ...  ...                ...                ...
6259       Fitbit  Running 7 METs  ...           0.000000          35.000000
6260       Fitbit  Running 7 METs  ...           0.000000          35.000000
6261       Fitbit  Running 7 METs  ...           0.000000          35.000000
6262       Fitbit  Running 7 METs  ...           0.000000          35.000000
6263       Fitbit  Running 7 METs  ...           0.000000          35.000000

[6264 rows x 13 columns]

In [8]:
nutri_df_raw = get_csv('../data/Nutrition__Physical_Activity__and_Obesity_-_Behavioral_Risk_Factor_Surveillance_System.csv')
nutri_df_raw

---Loading ../data/Nutrition__Physical_Activity__and_Obesity_-_Behavioral_Risk_Factor_Surveillance_System.csv into DataFrame ---
Data loaded successfully

        YearStart  YearEnd  ... StratificationCategoryId1 StratificationID1
0            2011     2011  ...                       INC           INC1525
1            2011     2011  ...                       INC           INC2535
2            2011     2011  ...                       INC           INC3550
3            2011     2011  ...                       INC           INC5075
4            2011     2011  ...                       INC         INC75PLUS
...           ...      ...  ...                       ...               ...
106255       2023     2023  ...                      RACE           RACEBLK
106256       2023     2023  ...                      RACE           RACEWHT
106257       2023     2023  ...                      RACE           RACEOTH
106258       2023     2023  ...                       EDU          EDUCOTEC
106259       2023     2023  ...                       OVR           OVERALL

[106260 rows x 33 columns]

In [9]:
nutri_sex_df, nutri_age_df, nutri_race_df = process_nutri_data(nutri_df_raw)
nutri_sex_df

Cleaning nutri_data...
Creating nutri_sex_df...
Creating nutri_age_df...
Creating nutri_race_df...
Data successfully cleaned and split.

        YearStart  YearEnd  ... Sample_Size     Sex
16           2011     2011  ...      4723.0  Female
22           2011     2011  ...      2581.0    Male
44           2011     2011  ...      1716.0  Female
50           2011     2011  ...      1620.0    Male
72           2011     2011  ...      3676.0  Female
...           ...      ...  ...         ...     ...
106198       2023     2023  ...       801.0    Male
106220       2023     2023  ...      2870.0  Female
106226       2023     2023  ...      1721.0    Male
106248       2023     2023  ...      1163.0  Female
106254       2023     2023  ...       897.0    Male

[7590 rows x 6 columns]